@import "../../../styles/variables.scss";
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;

    input {
        width: 100%;
        height: 100%;
        margin: 12px 0 12px 50px;
        padding: 12px 0 12px 10px;

        background-color: $bg-color;
        border: none;
        border-radius: 8px;
    }

    button {
        width: 50px;
        height: 44px;
        border: none;
        border-radius: 8px;
        background-color: $primary-color;
        margin-right: 50px;

        cursor: pointer;
    }
}

main {
    section {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            margin: 25% 15px 12px 50px;
            padding: 12px 0 12px 10px;
            background-color: $bg-color;
            border: none;
            border-radius: 8px;
        }

        button {
            width: 50px;
            height: 44px;
            border: none;
            border-radius: 8px;
            background-color: $primary-color;
            color: white;
            cursor: pointer;
        }
    }
}
